.Reddit {
    flex: 1 1 25%;
    padding:0 1.5rem;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.Reddit::-webkit-scrollbar { 
    display: none;  
  }

.Title {
    color: var(--azure);
    text-align: center;
    text-transform: uppercase;
    margin: 2.5rem 0;
}