.History {
    flex: 2 1 50%;
}

.HistoryLinks {
    border-bottom: 1px solid var(--grey);
    height: 50%;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.Title {
    color: var(--azure);
    text-align: center;
    text-transform: uppercase;
    margin: 2.5rem 0;
}

.HistoryEntryContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:1.5rem;
}

.HistoryEntryContainer:last-child {
    padding-bottom:.3rem;
}

.HistoryEntry {
    display: flex;
    width: 75%;
}

.HistoryIcon {
    margin-right: 5px;
    border:1px solid var(--green);
    border-radius: 2px;
}

.HistoryLink {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--blue);
    transition: color .3s ease-in-out;
}

.HistoryContent:hover {
    color:var(--yellow);
}

.HistoryDate {
    color: #999;
}

.TimeSection {
    height: 50%;
    display:flex;
    align-items:center;
    justify-content: center;
    font-family:Helvetica;
    color:var(--blue);
    font-size:7rem;
}

.HourCycle {
    font-size: 2rem;
    text-transform: uppercase;
}

.Date {
    text-align: center;
    font-size: 1.3rem;
    text-transform: capitalize;
}

