:root {
  --grey: #44475a;
  --dark-grey: #282a36;
  --azure:#8be9fd;
  --orange:#f9b86c;
  --pink:#f979c7;
  --purple: #bd93f9;
  --green: #50F268;
  --yellow:#E6DB73;
  --off-white: #F8F8F2;
  --facebook: #3B5998;
  --linkedin: #2b7eaf;
  --twitter: #3caced;
  --reddit: #5988b7;
}

/* ---- RESET.CSS ---- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* ---- END OF RESET.CSS ---- */

body {
  margin: 0;
  font-family: "Inconsolata",serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  background-color:var(--dark-grey);
}

a {
  text-decoration: none;
  color:white;
}
